.container {
  background-color: rgb(232, 232, 232);
  height: 500px;
  width: auto;
  padding: 100px;
}

.container h1 {
    color: rgb(46, 193, 191);
}
.container p {
    font-size: 20px;
}

.container span {
    color:rgb(66, 46, 193);

}